*.md @HamHangOut/Documentation
docs/* @HamHangOut/Documentation
.github/workflows/* @HamHangOut/Github
.github/FUNDING.yml @HamHangOut/Admins
* @HamHangOut/Developers
*.py @HamHangOut/Python
requirements.txt @HamHangOut/Python
deploy/terraform @HamHangOut/Terraform
