name: size-label
on: pull_request
jobs:
  size-label:
    # trunk-ignore(checkov/CKV2_GHA_1)
    permissions:
        contents: read
        pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: size-label
        uses: pascalgn/size-label-action@v0.5.2
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
